# Configuration hCaptcha - Clés de test pour développement
# Remplacez par vos vraies clés en production
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000
HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001

# Configuration Google OAuth2
# Remplacez par vos vraies clés Google
GOOGLE_CLIENT_ID=506863117414-31gv071h11cj8qr88qio7b924u8j36ii.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
